@using ASPNetCoreApp.Domain.Identity; 
@using ASPNetCoreApp.Controllers;
@using Microsoft.Extensions.Logging; 

@model IEnumerable<ASPNetCoreApp.Domain.ViewModels.EmployeeViewModel>
@{ 
    ViewBag.Title = "Employees";
}

@inject ILogger<EmployeesController> Logger

<div class="container">
    @if (User.IsInRole(Role.Administrators))
    {
        <p>
            <a asp-controller="Employees" asp-action="Create" class="btn btn-default">Создать нового сотрудника</a>
        </p>
    }
        @if (Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Возраст</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        Logger.LogInformation("Rendering the employyes list");
                    }
                    @foreach (var employee in Model)
                    {
                        <tr>
                            <td>@employee.Id</td>
                            <td>@employee.LastName</td>
                            <td>@employee.FirstName</td>
                            <td>@employee.Age</td>
                            <td><a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">Детали</a></td>
                            @if (User.IsInRole(Role.Administrators))
                            {
                                <td><a asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id">Удалить</a></td>
                                <td><a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id">Редактировать</a></td>
                            }

                        </tr>

                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Сотрудники отсутствуют в списке!</p>
        }

        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-default">Домой</a>
        </p>
    </div>

