@model IEnumerable<ASPNetCoreApp.Models.Employee>


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Возраст</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.LastName</td>
                <td>@employee.FirstName</td>
                <td>@employee.Age</td>
                <td><a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">Детали</a></td>
                <td><a asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id">Удалить</a></td>
                <td><a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id">Редактировать</a></td>
            </tr>

            }
        </tbody>
    </table>
    <p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-default">Домой</a>
    </p>
</div>

